<main class="container panel-admin">
    <h1>Admin Panel</h1>

    <div class="btn-container">
        <a href="/new-group" class="btn btn-mustard">New Group</a>
        <a href="/new-meeting" class="btn btn-blue">New Meeting</a>
        <a href="/edit-profile" class="btn btn-green">Edit Profile</a>
        <a href="/profile-picture" class="btn btn-mustard">Profile Picture</a>
    </div>

    <div class="section-admin">
        <h2>Events</h2>
        <ul>
            <li>
                <div class="admin-info">
                    <p class="date">Monday Dec 16th 2019</p>
                    <h4>Rexburg E-commerce meeting</h4>
                    <small>21 attending</small>
                </div>

                <div class="actions btn-container ">
                    <a href="#" class="btn btn-green">Edit</a>
                    <a href="#" class="btn btn-blue">Atendees</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
        </ul>
    </div>


    <div class="section-admin">
        <h2>Groups</h2>
        <ul>
            <li>
                <div class="admin-info">
                    <h4>Rexburg Hunting</h4>
                </div>

                <div class="actions btn-container ">
                    <a href="#" class="btn btn-green">Edit</a>
                    <a href="#" class="btn btn-blue">Atendees</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</main>