<main class="container form-container">
    <h1>Create account</h1>
    
    <form action="/create-account" method="POST" class="default-form">
        <!-- Email placeholder -->
        <div class="area">
            <label for="">E-mail</label>
            <input type="email" name="email" placeholder="E-mail">
        </div>

        <!-- Add your name -->
        <div class="area">
            <label for="email">Name</label>
            <input type="text" name="name" placeholder="Your name">
        </div>

        <!-- Password -->
        <div class="area">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <!-- Repeat Password -->
        <!-- <div class="area">
            <label for="">Repeat Password</label>
            <input type="password" name="repeatPassword" placeholder="Repeat Password">
        </div> -->

        <!-- Submit Button -->
        <div style="float:right" class="area">
            <input type="submit" class="btn btn-dark-blue" value="Create account">
        </div>
    </form>
</main>