<div class="hero">
    <h1>Create a group to share what you like the most!</h1>
    <a href="/create-account" class="btn btn-mustard">Create Account</a>
</div>

<div class="container">
    <h1>Come and join our community!</h1>
</div>

