<main class="container form-container">
    <h1>Log in</h1>
    
    <form action="/login" method="POST" class="default-form">
        <!-- Email placeholder -->
        <div class="area">
            <label for="">E-mail</label>
            <input type="email" name="email" placeholder="E-mail">
        </div>

        <!-- Password -->
        <div class="area">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <!-- Submit Button -->
        <div style="float:right" class="area">
            <input type="submit" class="btn btn-dark-blue" value="Log in">
        </div>
    </form>
</main>