body {
    font-family: 'Roboto', sans-serif;
    /* background: #0E1C2A; */
}

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

main.container-forms {
    max-width: 900px;
    width:95%;
    padding: 5rem 0;
}

.edit-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.no-padding {
    padding: 0!important;
}

img {
    max-width: 100%;
}

/* LAYOUT STYLING */

/* Site Header */

.site-header {
    text-align: center;
    margin-top: 1rem;
}
 @media (min-width:768px){
     .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Nav */

nav.nav a {
    padding: 1rem;
    display: inline-block;
}
nav.nav a:first-child {
    color: black;
    font-weight: 700;
    /* border-right: 1px solid #E6E6E6; */
}

nav {
    background-color: #FDCF50 !important;
}

/* Page footer */

.site-footer {
    padding: 1rem 0 2rem 0;
    text-align: center;
}
.site-footer p {
    margin: 0;
}
@media (min-width:768px) {
    .site-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Form container */

main.form-container {
    max-width: 900px;
    width:95%;
    padding: 5rem 0;
}

/* Default-Form */

.default-form .area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.default-form .area label {
    flex: 0 0 120px;
}
.default-form .area input[type="text"],
.default-form .area input[type="password"],
.default-form .area input[type="email"],
.default-form .area input[type="url"],
.default-form .area input[type="date"],
.default-form .area input[type="time"],
.default-form .area input[type="number"],
.default-form .area textarea, 
.default-form .area select{
    margin: 0;
    flex: 1;
}
.default-form legend {
    color: #068D9D;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.5rem 0;
}
.default-form.comments .area {
    align-items: flex-start;   
}
.default-form .area textarea {
    height: 10rem;
}

.area.description label {
    display: block;
    margin-bottom: 2rem;
    align-self: flex-start;
    padding-top: 4rem;
}

.area.send {
    justify-content: flex-end;
    padding-top: 2rem;
}

/* Button Style */

.btn {
    text-align: center;
    font-weight: 700;
    border: none;
    background-color: transparent;
    color:white;
    width: 100%;
    display: block;
    flex : 0 0 100%;
    font-family: 'Roboto', sans-serif;
    
}

@media (min-width: 768px) {
    .btn {
        width: auto;
        display: inline-block;
        flex: 0 0 auto;
    }
}
.btn:hover {
    cursor: pointer;
}

/* Button colors */

.btn-dark-blue {
    background-color: #253237;
}
.btn-blue {
    background-color: #33658A;
}
.btn-mustard {
    background-color: #F6AE2D;
}
.btn-green {
    background-color: #758E4F;
}
.btn-red {
    background-color: #BD1E1E;
}


/* Alerts Style */

.alerts {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
}

.alert {
    text-align: center;
    font-size: 16px;
    display: block;
    color: white;
    font-weight: 700;
    padding: .5rem 4rem;
}
.error {
    background-color: #BF211E;
}
.success {
    background-color: #023618;
}

/* Panel */

.panel-admin {
    padding: 4rem 0;
}

/* Button Container */

.btn-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.btn-container a {
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .btn-container {
        display: flex;
        flex-direction: row;
    }
    .btn-container a {
        flex: 1;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .btn-container a:last-of-type{
        margin-right: 0;
    }
}

/* Admin Section */

.section-admin{
    padding-top: 2rem;
}
.section-admin li {
    padding: 1rem 0;
    border-bottom:  1px solid #E6E6E6;
}

.section-admin li:last-of-type{
    border-bottom: none;
}
@media (min-width:768px) {
    .section-admin li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.section-admin .date,
.section-admin h3 {
    margin: 0;
}

/* Info Admin */

.admin-info {
    flex: 0 0 35%;
    margin-right: 2rem;
}
.admin-info small {
    font-weight: 700;
    font-size: .8rem;
}

/* Date */

.card .date,
.informacion-admin .date {
    font-size: .8rem;
}

aside .date {
    background-image: url(../img/icono-hora.svg);
    margin-bottom: 2rem;
}

/* Action */

.action.btn-container  {
    width: 100%;
}

/* Hero */

.hero {
    height: 38rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero h1 {
    max-width:800px;
    color: white;
}